:root {
  --white: #fff;
  --light-white: #e0e0e0;
  --light-grey: #cacaca;
  --orange: #f89202;
  --dark-orange: #95390c;
  --green: #34c176;
  --grey: #757575;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url(fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: 'Roboto Medium';
  src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: 'Roboto Regular';
  src: url(fonts/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  border: 0; 
  outline: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

h2 {
  text-align: center;
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

p {
  font-family: 'Roboto Regular', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5;
  color: #cacaca;
}

a {
  font-family: 'Roboto Regular', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

.header {
  height: 100%;
  position: relative;
  padding: 200px 0;
}

.header::before {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-image: url(images/banner.png);
  background-position: center;
  background-size: cover;
  z-index: -1;
  content: "";
}

.header_div-center {
  max-width: 1200px;
  margin: 0 auto;
}

.header_nav {
  width: 100%;
  max-width: 1200px;
  position: absolute;
  top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_left-flex {
  display: flex;
  align-items: center;
}

.header_href-margin {
  margin-right: 90px;
}

.header_logo {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.header_href {
  color: #cacaca;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
}

.header_href:nth-child(n+3) {
  margin-right: 24px;
}

.header_input-form {
  height: 25px;
  padding: 5px 0 5px 10px;
  color: #757575;
  background-color: #3C3B3D;
  border-radius: 50px;
}

.header_main p {
  text-align: center;
  margin-top: 31px;
  margin-bottom: 24px;
}

.header_grid {
  max-width: 570px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  row-gap: 24px;
  color: #fff;
}

.header_main form {
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  display: flex;
  align-content: center;
  margin-bottom: 1.5rem;
  border: #cacaca solid 2px;
  border-radius: 3px;
}

.header_main .header_form-submit {
  display: inline-block;
  text-align: center;
  padding: 20px 30px;
  grid-column: span 2;
  background: #34C176;
  border-radius: 5px;
}

.header_input::-webkit-input-placeholder {
  color:var(--white);
}

.header_input {
  color: var(--white);
  background-color: transparent;
}

.header_input-send {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 13.3px;
  line-height: 15px;
  text-transform: uppercase;
}

.sr-only {
  position: absolute;
  
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  
  white-space: nowrap;
  }
  
@media (max-width: 564px) {
  .header {
    padding: auto 20px;
  }
}
