* {
  margin: 0;
  padding: 0;
  border: 0; 
  outline: 0;
}

.header {
  position: relative;
}

.header::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(images/banner.png);
  background-position: center;
  background-size: cover;
  z-index: -1;
  content: "";
}

